
<div class="container">
  <%= simple_form_for :search, method: :get, :url => { action: "index" } do |f| %>
       <%= f.input :category, collection: @festivals_category.map { |festival| festival.category }.uniq.sort %>
       <%= f.input :month, as: :select, collection: month_list%>
       <%= f.input :year, as: :select, collection: year_list %>
       <%= f.input :location, collection: @festivals_category.map { |festival| festival.location }.uniq.sort %>
     <div class="form-actions">
         <%= f.button :submit, "Submit" %>
     </div>
 <% end %>
</div>
