<div class="container advanced_filter_input mt-3">
  <%= simple_form_for :search, method: :get, :url => { action: "index" }, defaults: {label: false} do |f| %>
    <div class="form-row d-flex justify-content-around">
      <div class="col-12 col-sm-3">
       <%= f.input :category, include_blank: "Choose a category",  collection: @festivals_category.map { |festival| festival.category }.uniq.sort %>
      </div>

      <div class="col-12 col-sm-3">
       <%= f.input :location, include_blank: "Choose a location",collection: @festivals_category.map { |festival| festival.location }.uniq.sort %>
      </div>

      <div class="col-12 col-sm-2">
        <%= f.input :month, include_blank: "Choose a month",as: :select, collection: month_list%>
      </div>

      <div class="col-12 col-sm-2">
       <%= f.input :year, include_blank: "Choose a year",as: :select, collection: year_list %>
      </div>

      <div class="col-12 col-sm-2" style="padding-left: 0px;">
         <%= f.button :submit, "Submit", class: "btn btn-outline-button" %>
      </div>
    </div>
 <% end %>
</div>


