<%= render 'shared/navbar' %>

<div id="banner-index">
  <div class="container" style="top:180px;">
    <h1><strong>Festrip</strong></h1>
    <p>Festivals. Artists. You. All Together</p>
      <%= render 'shared/advanced_search' %>
  </div>
</div>

<!-- <div class="container"> -->

  <%# se o current_user estiver logado com spotify, renderizar card de artistas %>
  <% if current_user %>
        <div class="textbox">
        <% if current_user.top_artists.present? %>
          <h5>Based on your favorite spotify artists:</h5>
          <p>We will find out the best festival options for you!</p>
        </div>

    <div class="container">
      <div class="contentindex">
          <div class="w-100">
            <%= render 'shared/artistscard' %>
          </div>
          <% else %>
          <h5>Log in with Spotify to find out where your favorites artists will play:</h5>
          <%= button_to "#", class: "btn btn-outline" do %>
           <i class="fab fa-spotify"></i><%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

    <div class="container">
      <div class="contentindex">
        <div class="textbox">
          <h5>Top festivals close to you</h5>
          <p>Check out this festivals</p>
        </div>

          <div class="w-100">
              <div class="containerindex d-flex flex-row">
                <div class="owl-carousel owl-theme">
                  <% if @festivals.empty? %>
                  <h2>Oops! There is no festival available</h2>
                    <% end %>
                  <% unless @festivals.empty? %>
                    <% @festivals.first(15).each_with_index do |festival, index| %>
                        <div class="p-4">
                          <div class="d-flex flex-row">
                            <div class="card">
                              <div class="content">
                                <h2 class="title"><%= festival.name %></h2>
                                <span><%= @lineups[index].artist_name %></span>
                                  <p class="copy">
                                    <p><%= festival.location %></p></p>
                                    <button class="btn btn-outline-warning"><%= link_to "See Details", festival_path(festival) %></button>
                              </div>
                            </div>
                          </div>
                        </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
          </div>

      </div>
    </div>

    <div class="container">
        <div class="contentindex">
          <div class="textbox">
            <h5>Browse by Countries</h5>
          </div>


          <div class="w-100">
            <%= render 'shared/cardcountries' %>
          </div>
        </div>
    </div>
<!-- </div> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.trunk.min.js"></script>

  <script>
    VANTA.TRUNK({
      el: "#banner-index",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color: 0xde752c,
      backgroundColor: 0x181616,
      spacing: 1.00,
      chaos: 4.50
    })

  </script>
