<%= render 'shared/navbar' %>
<% if @search %>
<div class="container">
  <div class="contentindex">
    <%= render 'shared/cardindex', festivals: @search %>
  </div>
</div>
<% else %>
  <!-- <Banner com barra de search> -->
  <%= render 'shared/advanced_search', festivals_category: @festivals_category, festivals_location: @festivals_location %>
  <div class="container">
    <div class="contentindex">
      <!-- <Lógicas de renderização dos cards para cada tipo de usuário> -->
      <% if current_user %> <!-- user logado -->
            <% if current_user.top_artists.present? %> <!-- user logado com spotify -->
              <%= render 'shared/artistscard' %>
              <% if @lineups.present? %> <!-- se tiver top artists presentes nos lineups do DB -->
                <%= render 'shared/card_lineup', festivals: @my_festivals, lineups: @lineups %>
              <% else %>
                <h2>No festival available (top artist is not on lineups)</h2>
                <p>Check out these options</p>
              <% end %>
            <% else %> <!-- user logado sem spotify -->
                <%= render 'shared/connect_spotify' %>
            <% end %>
      <% else %> <!-- user deslogado -->
        <%= render 'shared/connect_spotify' %>
      <% end %> 
        <%= render 'shared/cardindex', festivals: @festivals %>
    </div>
  </div>
<% end %>
