<%= render 'shared/navbar' %>
<% if @search %>
  <div class="container pt-5 mt-5">
    <div class="contentindex">
      <% if @search.empty? %>
        <h2>We couldn't find any results for your search =( </h2>
        <%= link_to "Back to Festivals", festivals_path, class:'btn btn-outline-warning' %>
      <% else %>
        <h2>Your search results for: "<%= @query %>"</h2>
        <%= render 'shared/cardindex', festivals: @search %>
        <%= link_to "Back to Festivals", festivals_path, class:'btn btn-outline-warning' %>
      <% end %>
    </div>
  </div>
<% else %>
  <!-- <Banner com barra de search> -->
  <%= render 'shared/advanced_search', festivals_category: @festivals_category, festivals_location: @festivals_location %>
  <div class="container">
    <div class="contentindex">
      <!-- <Lógicas de renderização dos cards para cada tipo de usuário> -->
      <% if current_user %> <!-- user logado -->
            <% if current_user.top_artists.present? %> <!-- user logado com spotify -->
              <h2 class='pt-5'>Your Top Artists on Spotify . . .</h2>
              <%= render 'shared/artistscard' %>
              <% if @lineups.present? %> <!-- se tiver top artists presentes nos lineups do DB -->
                <h2 class="pt-5">. . . will play at</h2>
                <%= render 'shared/card_lineup', festivals: @my_festivals, lineups: @lineups %>
              <% else %>
                <h2>. . . won't play in any festivals soon :( </h2>
                <p>What about?</p>
              <% end %>
            <% else %> <!-- user logado sem spotify -->
                <%= render 'shared/connect_spotify' %>
            <% end %>
      <% else %> <!-- user deslogado -->
        <%= render 'shared/connect_spotify' %>
      <% end %>
        <h2 class="pt-5">Festivals around the world</h2> 
        <%= render 'shared/cardindex', festivals: @festivals %>
    </div>
  </div>
<% end %>
