<%= render 'shared/navbar' %>
<%= render 'shared/advanced_search' %>

<div class="container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/diarvpaib/image/upload/v1614808273/pexels-annam-w-1120162_jebmhu.jpg);">
      <div class="container">
        <h1><strong>Festrip</strong></h1>
        <p>Festivals. Artists. You. All Together</p>
      </div>
  </div>

    <div class="container">
      <div class="contentindex">
        <div class="textbox">
          <h5>Top festivals close to you</h5>
          <p>Check out this festivals</p>
        </div>

          <div class="w-100">
              <div class="containerindex d-flex flex-row">
                <div class="owl-carousel owl-theme">
                  <% if @festivals.empty? %>
                  <h2>Oops! There is no festival available</h2>
                    <% end %>
                  <% unless @festivals.empty? %>
                    <% @festivals.first(10).each do |festival| %>
                        <div class="p-4">
                          <div class="d-flex flex-row">
                            <div class="card">
                              <div class="content">
                                <h2 class="title"><%= festival.name %></h2>
                                  <p class="copy">
                                    <p><%= festival.location %></p></p>
                                    <button class="btn btn-outline-warning"><%= link_to "See Details", festival_path(festival) %></button>
                              </div>
                            </div>
                          </div>
                        </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
          </div>

      </div>
    </div>

    <div class="container">
        <div class="contentindex">
          <div class="textbox">
            <h5>Browse by Countries</h5>
          </div>


          <div class="w-100">
            <%= render 'shared/cardcountries' %>
          </div>
        </div>
    </div>
</div>

