<div class="container">
  <h2>Criar novo festival</h2>

  <%= simple_form_for @festival do |f| %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :category %>
      <%= f.input :begin_date %>
      <%= f.input :end_date %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= f.input :video_url, as: :url %>

    </div>

    <div class="form-actions btn btn-primary">
      <%= f.button :submit, "Cadastrar novo festival" %>
    </div>

    <%= link_to "Voltar para a página de festivais", festivals_path %>
  <% end %>
</div>

