<h1>Festivals#show</h1>
<p>Find me in app/views/festivals/show.html.erb</p>

<%= @festival.name %>
<%= @festival.description %>
<%= @festival.date %>
<%= @festival.location %>
<p>Line-Up:
  <% @festival.artists.each do |artist| %>
    <%= artist.name %> ---
  <% end %>
</p>
