<%= render 'shared/navbar' %>

<div class="d-flex justify-content-center mt-5 mb-5">
  <div class="card-trip">
      <div class="heart">
      <% if current_user %>
            <% if current_user.wishlists.where(festival:@festival).empty? %>
              <%= link_to festival_wishlists_path(@festival),method: :post do %>
                <i class="far fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to wishlist_path(@festival.wishlists.where(user:current_user).first),method: :delete do %>
                  <i class="fas fa-heart"></i>
              <% end %>
            <% end %>
          <% end %>
      </div>

      <%= cl_image_tag @festival.photo.key if @festival.photo.attached? %>
      <div class="card-trip-infos">

      <div>

      <div class="card-festival-name">
        <h5><%= @festival.name %></h5>
        <p><%= @festival.location %>, <%= @festival.begin_datef %></p>
        <%= @festival.description %>
      </div>
        </div>


      <div class='first-card'>
        <br>
        <h5>Headliners</h5>
          <hr>
          <% @festival.artists.each do |artist| %>
          <%= artist.name %><br>
          <% end %> and many more...
        </p>
      </div>

      <div class='second-card'>
        <iframe width="598" height="394" src="https://www.youtube.com/embed/<%= @festival.video_url %>" frameborder="0" allow="accelerometer; autoplay=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

