<%= render 'shared/navbar' %>

<div class="d-flex justify-content-center mt-5">
  <div class="card-trip">
      <div class="heart">
      <% if current_user %>
            <% if current_user.wishlists.where(festival:@festival).empty? %>
              <%= link_to festival_wishlists_path(@festival),method: :post do %>
                <i class="far fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to wishlist_path(@festival.wishlists.where(user:current_user).first),method: :delete do %>
                  <i class="fas fa-heart"></i>
              <% end %>
            <% end %>
          <% end %>
      </div>

      <%= cl_image_tag @festival.photo.key %>
      <div class="card-trip-infos">

      <div>

      <div class="card-festival-name">
        <h5><%= @festival.name %></h5>
        <p><%= @festival.location %>, <%= @festival.begin_date %></p>
        <%= @festival.description %>
      </div>
        </div>


      <div class='first-card'>
        <p>Line-Up:
          <br>
          <% @festival.artists.each do |artist| %>
          <%= artist.name %> |
          <% end %>
        </p>
      </div>

      <div class='second-card'>
      <iframe width="397" height="256" src=<%= @festival.video_url %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

