<h1>Festivals#show</h1>
<p>Find me in app/views/festivals/show.html.erb</p>

  <% if current_user %>
        <% if current_user.wishlists.where(festival:@festival).empty? %>
          <%= link_to festival_wishlists_path(@festival),method: :post do %>
             <i class="far fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to wishlist_path(@festival.wishlists.where(user:current_user).first),method: :delete do %>
              <i class="fas fa-heart"></i>
          <% end %>
        <% end %>
      <% end %>
<%= @festival.name %>
<%= @festival.description %>
<%= @festival.date %>
<%= @festival.location %>
<p>Line-Up:
  <% @festival.artists.each do |artist| %>
    <%= artist.name %> ---
  <% end %>
</p>
