<!DOCTYPE html>
<html>
  <head>
    <title>Festrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
     <div id="page-container">
        <div id="content-wrap">
          <!-- all other page content -->
          <%= render 'shared/flashes' %>
          <%= yield %>
        </div>
        <% unless params[:action] == "home" %>
          <footer id="footer">
            <%= render 'shared/footer' %>
          </footer>
        <% end %>
    </div>
  </body>
</html>
